<h2>Stored XSS Demo</h2>

<input
  [(ngModel)]="newUsername"
  placeholder="Felhasználónév"
  style="margin-bottom: 8px; width: 300px;"
/>
<br>
<textarea
  [(ngModel)]="newComment"
  placeholder="Enter some HTML or JS..."
  rows="4"
  cols="60"
></textarea>
<br>

<button (click)="submit()">Submit</button>

<hr>

<div *ngFor="let c of comments">
  <div><small>{{ c.createdAt | date:'medium' }}</small></div>

  <strong>{{ c.username }}</strong><br>

  <div id="comment-{{c.id}}" [innerHTML]="c.safeContent"></div>

  <hr>
</div>